* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.container {
  height: 100vh;
  width: 100%;
  background-image: url("images/fullUI.png");

  /* background-image: linear-gradient(black, grey); */
}
.desktopLead {
  padding: 50px;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to bottom right, #1d1f3e, #000820, #030a26);
}
.darkpdfreaderHeading {
  width: 100%;
  margin-left: 5%;
  margin-top: 15px;
  margin-right: 100px;
  color: white;
  font-size: 3vw;
}
.menuContents {
  width: 100%;
  display: flex;
  align-items: baseline;
}
nav {
  flex: 1;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0px 2%;
}
nav ul li a {
  text-decoration: none;
  color: #d6d9f1;
  font-size: 15px;
}

nav ul li a:hover {
  color: #b4bdff;
}

.restMenuContents {
  width: 50%;
  margin-left: 10%;
}
.downloadFeatureText {
  margin-top: 3%;
  color: white;
  font-size: 2vw;
  margin-left: 45%;
  position: absolute;
}

.platformButtons {
  width: 50%;
  margin-top: 15%;
  margin-left: 53%;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  position: absolute;
}
.downloadsLogo {
  width: 35%;
  height: auto;
  /* position: absolute; */

  left: 55%;
  top: 20%;
  /* bottom: 20%; */
  margin-top: 7%;
  margin-bottom: 20%;
  margin-left: 5%;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.blur1 {
  width: 55%;
  height: 75%;
  position: absolute;
  left: 47%;
  top: 5%;
  bottom: 0px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.blur2 {
  width: 55%;
  height: 75%;
  position: absolute;
  left: 5%;
  top: 20%;
  bottom: 0px;
  /* user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none; */
}

ul#horizontalBtns {
  list-style: none;
  padding-top: 20px;
}
ul#horizontalBtns li {
  display: inline;
}
ul#showCaseBlobs {
  list-style: none;
  padding-top: 20px;
}
ul#showCaseBlobs li {
  display: inline;
}
.showCaseBlob {
  left: 50%;
  top: 65%;
  /* margin-left: 200%; */
  position: absolute;
}
ul li a#hoverwala:hover {
  color: red;
}
